<!DOCTYPE html>
<html>
  <head>
    <title>DeviseApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body>
    <div class="container">
      <header>
        <%= render partial: 'shared/navbar' %>
        <%= render partial: 'shared/alerts' %>
      </header>
      <%= yield %>
      <footer class="pt-5">
        <%= render partial: 'shared/footer' %>
      </footer>
    </div>
  </body>
</html>

<!-- margin, padding: [ https://getbootstrap.com/docs/4.0/utilities/spacing/ ]-->